<div class="container">
    <div class="panel panel-warning col-sm-6 col-sm-offset-3 ">
<% @countries = Country.all %>
<% @cities = City.all %>

      <%= form_for(@group) do |f| %>
        <% if @group.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <h5><%= f.label :name %></h5>
          <%= f.text_field :name ,:class=> "form-control" %>
        </div>
        <div class="field">
          <h5><%= f.label :country_id %></h5>
          <%= f.collection_select :country_id, @countries.order(:name),:id,:name, include_blank: true %>
        </div>
        <div class="field">
          <h5><%= f.label :city_id %></h5>
          <%= f.collection_select :city_id, @cities.order(:name),:id,:name, include_blank: true %>
        </div>
        <div class="field">
          <h5><%= f.label :description %></h5>
          <%= f.text_area :description ,:class=> "form-control" %>
        </div>

         <%=  f.hidden_field :user_id, :value => session[:user_id] %>

        <div class="actions">
          <%= f.submit "Save" ,:class=> 'col-sm-offset-5 btn btn-success btn-lg' %>
        </div>
      <% end %>

  </div>
</div>

