<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
    <% if  @user.gender %>
      Female
    <% else %>
      Male
    <% end %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city.name %>
</p>

 <% if current_user && current_user.isAdmin %>


<p>
  <strong>Isadmin:</strong>
  <%= @user.isAdmin %>
</p>

<p>
  <strong>Isconf:</strong>
  <%= @user.isConf %>
</p>

<% end %>

<p>
  <strong>Profile picture:</strong>
<%= image_tag @user.avatar.url(:thumb) %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
