<div id="loc" onclick="showinput()"></div>
<%= form_tag data_getdata_path, method:'get',remote: true do %>

    <%= text_field_tag :lang,'1',:id=> 'lang',:hidden=>'true'%>
    <%= text_field_tag :lat,'1',:id=> 'lat',:hidden=>'true'%>
    <%= text_field_tag :theselected,'1',:id=> 'theselected',:hidden=>'true'%>
    <%= select_tag :thedistance,"<option value='2'>2 Miles</option><option value='5'>5 Miles</option><option value='10'>10 Miles</option><option value='25'>25 Miles</option><option value='50'>50 Miles</option><option value='100'>100 Miles</option><option value='100000'>any distance</option>".html_safe %>

<%= submit_tag 'Search', :id=> 'getallsearch' %>
<% end %>

<%= form_tag data_search_path, method:'get',class:'notshownydefault',:id=> 'getplaceform',remote: true do %>
<%= text_field_tag :search, '' , size:25,:autocomplete=> :off %>
<%= submit_tag 'Search', :id=> 'search_key',:hidden=>'true' %>
<% end %>
<%= @try %>
<div id="allgroups">


</div>
<script>
    $('#thedistance').on('change',function(){
        $('#getallsearch').click();
    });

    $('#search').autocomplete({select:function(event,ui){
        //alert(ui.item.value);
        //console.log(ui.item.value);
        //console.log($('#loc').text());
        $('#loc').text(ui.item.value);
        $('#theselected').val($('#loc').text());
        $('#lang').val('non');
        $('#lat').val('non');
        $('#getplaceform').toggleClass('notshownydefault');
        $('#getallsearch').click();
        //$.ajax({
        //    type:'GET',
        //    url: 'search',
        //    dataType: 'script',
        //    data:{
        //        search:ui.item.value
        //    }
        //
        //
        //});
    }})

    function showinput(){
        $('#getplaceform').toggleClass('notshownydefault')

    }



    window.onload = function () {
        getMyLocation();
    }
    function getMyLocation() {
        geo = getGeoLocationObject()
        if (geo) {
            // alert('Geolocation Works!');
            geo.getCurrentPosition(success, errorHandling, options);
        } else {
            alert('Geolocation isn’t working');
        }
    }
    function getGeoLocationObject() {
        try {
            if (!!navigator.geolocation) {
                //object exists, return it
                return navigator.geolocation;
            }
            else {
                //object doesn’t exist
                return undefined;
            }
        } catch (e) {
            //error while requesting object
            return undefined;
        }
    }
    function success(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;

//        lat=40.714224;
//        lon=-73.961452;
//        lat= 37.4224764;
        //       lon = -122.0842499;

        //console.log(position);
        $.ajax({

            url: "https://maps.googleapis.com/maps/api/geocode/json",
            data: {
                latlng:lat+','+lon
            },

            // Work with the response
            success: function( response ) {
                console.log( response); // server response
                $('#loc').text(response.results[(response.results.length)-2].formatted_address);
                $('#lang').val(lon);
                $('#lat').val(lat);
                $('#theselected').val($('#loc').text());
            }
        });




        //do the desired process with the coordinates
        //alert('the current latitude' + lat + ', the current longitude is' + lon );
    }
    function errorHandling(error) {
        switch (error.code) {
            case error.TIMEOUT:
                alert('Geolocation Timeout');
                break;
            case error.POSITION_UNAVAILABLE:
                alert('Position Unavailable');
                break;
            case error.PERMISSION_DENIED:
                alert('Permission Denied');
                break;
            default:
                alert('Unknown Error : ' + error.code);
        }
    }
    var options = {
        enableHighAccuracy: true,
        timeout: 15000
    };

</script>